<a href="https://colab.research.google.com/github/muhamadrefo/DTSFGA/blob/main/Ch2_Internet_Meter_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Persiapan data (pre-processing)

Import dulu drivenya biar bisa akses file csvnya ntar

In [1]:
from google.colab import drive
drive.mount('content/')

Mounted at content/

pindahin tempat simpan filenya, biar ga pusing cari filenya

In [2]:
%cd /content/content/MyDrive/FGA/Ch2
%ls

/content/content/MyDrive/FGA/Ch2
'2.2.4.5 Lab - San Francisco Crime.ipynb'              Data/
'2.5.1.4 Lab - Internet Meter Data Analysis.ipynb'     Images/
'2.5.2.4 Lab - Working With Python and SQLite.ipynb'   InternetSpeed.db
'2.5.2.5 Lab - Internet Meter SQL.ipynb'               rpi_data_test.csv
 coworkers.csv                                         test.txt

install Speedtest-cli buat ngukur Kecepatan Koneksi internet Upload dan Donwload

In [3]:
!pip install speedtest-cli

Collecting speedtest-cli
  Downloading speedtest_cli-2.1.3-py2.py3-none-any.whl (23 kB)
Installing collected packages: speedtest-cli
Successfully installed speedtest-cli-2.1.3

In [4]:
import datetime
import csv
import subprocess

#1 Collect and Store Data
 Generate Waktu menggunakan paket `datetime`

In [5]:
date_time = datetime.datetime.now()
print(date_time)

2021-08-28 23:57:50.369324

In [6]:
date_time.strftime('%a, %d %b %Y %H:%M:%S')

'Sat, 28 Aug 2021 23:57:50'

In [7]:
#code cell
#bikin format YYYY-MM-DD HH:MM:SS
date_time.strftime('%Y %b %d %H:%M:%S')

'2021 Aug 28 23:57:50'

# Uji coba command `speedtest-cli`

In [8]:
# interface with speedtest.net
speedtest_cmd = 'speedtest-cli --simple'

# eksekusi process
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)

# output
process_output = process.communicate()[0]

# print output
print(process_output, type(process_output))

#outputnya bakalan kek gini
# b'Ping: 8.675 ms\nDownload: 8.82 Mbit/s\nUpload: 41.95 Mbit/s\n' <class 'bytes'>

b'Ping: 7.042 ms\nDownload: 1546.00 Mbit/s\nUpload: 832.28 Mbit/s\n' <class 'bytes'>

biar enak diliat, kita edit sedikit

In [9]:
date_time = datetime.datetime.now().strftime('%d-%m-%Y %H:%M:%S')
process_output = process_output.split()
process_output.append(date_time)
print(process_output)

[b'Ping:', b'7.042', b'ms', b'Download:', b'1546.00', b'Mbit/s', b'Upload:', b'832.28', b'Mbit/s', '28-08-2021 23:57:54']

bikin fungsi speedtest()

In [10]:
def speedtest():
  date_time = datetime.datetime.now().strftime('%d-%m-%Y %H:%M:%S')
  speedtest_cmd = 'speedtest-cli --simple'
  process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
  process_output = process.communicate()[0]
  process_output = process_output.split()
  process_output.append(date_time)
  return process_output

print(speedtest())

[b'Ping:', b'2.339', b'ms', b'Download:', b'1443.27', b'Mbit/s', b'Upload:', b'925.15', b'Mbit/s', '28-08-2021 23:57:54']

# Simpen hasil `speedtest` ke csv file

In [11]:
#test dulu bikin file .txt dengan isi file 'coba coba dulu ya'

with open('/tmp/test.txt', 'w') as f:
  f.write('coba coba dulu ya')

In [12]:
# cek dulu bener apa ngga isi filenya
!cat /tmp/test.txt

coba coba dulu ya

In [13]:
# cek open file bisa apa ngga
with open('/tmp/test.txt', 'r') as f:
  str = f.read()
print(str)

coba coba dulu ya

Bikin fungsi save to csv

In [14]:
def savetocsv(data, filename):
  try:
    #kalau nilainya ga sama, kita append
    with open(filename + '.csv', 'a') as f:
      wr = csv.writer(f)
      wr.writerow(data)
  except:
    #kalau nilainya ada yang sama, kita write biasa saja
    with open(filename + '.csv', 'w') as f:
      wr = csv.write(f)
      wr.writerow(data)

In [15]:
def print_from_csv(filename):
  with open(filename + '.csv', 'r') as f:
    re = csv.reader(f)
    for row in re:
      print(row)

In [16]:
for i in range(5):
  speedtest_output = speedtest()
  print('Test number {}'.format(i))
  print(speedtest_output)
  savetocsv(speedtest_output, '/tmp/rpi_data_test')

Test number 0
[b'Ping:', b'2.199', b'ms', b'Download:', b'1762.44', b'Mbit/s', b'Upload:', b'928.85', b'Mbit/s', '28-08-2021 23:57:59']
Test number 1
[b'Ping:', b'2.411', b'ms', b'Download:', b'1691.86', b'Mbit/s', b'Upload:', b'869.05', b'Mbit/s', '28-08-2021 23:58:02']
Test number 2
[b'Ping:', b'2.359', b'ms', b'Download:', b'1774.12', b'Mbit/s', b'Upload:', b'897.81', b'Mbit/s', '28-08-2021 23:58:06']
Test number 3
[b'Ping:', b'2.422', b'ms', b'Download:', b'1775.32', b'Mbit/s', b'Upload:', b'909.57', b'Mbit/s', '28-08-2021 23:58:10']
Test number 4
[b'Ping:', b'2.044', b'ms', b'Download:', b'1736.39', b'Mbit/s', b'Upload:', b'925.36', b'Mbit/s', '28-08-2021 23:58:14']

In [17]:
print_from_csv('/tmp/rpi_data_test')

["b'Ping:'", "b'2.199'", "b'ms'", "b'Download:'", "b'1762.44'", "b'Mbit/s'", "b'Upload:'", "b'928.85'", "b'Mbit/s'", '28-08-2021 23:57:59']
["b'Ping:'", "b'2.411'", "b'ms'", "b'Download:'", "b'1691.86'", "b'Mbit/s'", "b'Upload:'", "b'869.05'", "b'Mbit/s'", '28-08-2021 23:58:02']
["b'Ping:'", "b'2.359'", "b'ms'", "b'Download:'", "b'1774.12'", "b'Mbit/s'", "b'Upload:'", "b'897.81'", "b'Mbit/s'", '28-08-2021 23:58:06']
["b'Ping:'", "b'2.422'", "b'ms'", "b'Download:'", "b'1775.32'", "b'Mbit/s'", "b'Upload:'", "b'909.57'", "b'Mbit/s'", '28-08-2021 23:58:10']
["b'Ping:'", "b'2.044'", "b'ms'", "b'Download:'", "b'1736.39'", "b'Mbit/s'", "b'Upload:'", "b'925.36'", "b'Mbit/s'", '28-08-2021 23:58:14']

# 2 Manipulate Data

In [19]:
%cd Data/
%ls

/content/content/My Drive/FGA/Ch2/Data
InternetSpeed.db      Map-Crime_Incidents-Previous_Three_Months.csv
LA_population.csv     rpi_data_compact.csv
LA_wifi_speed_UK.csv  rpi_data_long.csv

In [30]:
import pandas as pd

#data_file = pd.read_csv('rpi_data_long.csv', names=column_names) #cara cepat tanpa open with
#data_file.head(5) #ini tanpa header
data_file = 'rpi_data_long.csv'

In [31]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

#data_file.head(5)

In [ ]:
with open(data_file, 'r') as f:
  df_redundant = pd.read_csv(f, names = column_names)
df_redundant.head(20)

In [32]:
#CREATE A CONCISE REPRESENTATION\

df_compact = df_redundant.copy()

In [ ]:
#renaming columns

df_compact.rename(columns={'Measure A':'Ping (ms)', 
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace= True)
df_compact.head(3)

In [35]:
# karena bentuk Types udah ga perlu, bisa kita drop aja
df_compact.drop(['Type A', 'Type B', 'Type C',
         'Units A', 'Units B', 'Units C'], axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)             Datetime
0    26.992             91.80            14.31  2016-11-24 13:36:25
1    24.532             88.19            14.12  2016-11-24 13:36:55
2    20.225             59.86            14.11  2016-11-24 13:37:25
3    19.332             91.81            14.22  2016-11-24 13:37:57
4    22.494             92.05            14.08  2016-11-24 13:38:27

In [38]:
# MEMISAHKAN DATA MENJADI DUA KOLOM

df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())
df_compact['Date']

0      2016-11-24
1      2016-11-24
2      2016-11-24
3      2016-11-24
4      2016-11-24
          ...
675           NaT
676           NaT
677           NaT
678           NaT
679    2016-11-24
Name: Date, Length: 680, dtype: object

In [39]:
temp = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str))
temp

0     2016-11-24 13:36:25
1     2016-11-24 13:36:55
2     2016-11-24 13:37:25
3     2016-11-24 13:37:57
4     2016-11-24 13:38:27
              ...
675                   NaT
676                   NaT
677                   NaT
678                   NaT
679   2016-11-24 19:18:16
Name: Datetime, Length: 680, dtype: datetime64[ns]

In [41]:
df_compact['Time']=temp.dt.time
df_compact['Time']

0      13:36:25
1      13:36:55
2      13:37:25
3      13:37:57
4      13:38:27
         ...
675         NaT
676         NaT
677         NaT
678         NaT
679    19:18:16
Name: Time, Length: 680, dtype: object

In [42]:
df_compact.head()
# kita cuma butuh Date sama Time, jadi kita bakalan drop kolom datetime

  Ping (ms) Download (Mbit/s)  ...        Date      Time
0    26.992             91.80  ...  2016-11-24  13:36:25
1    24.532             88.19  ...  2016-11-24  13:36:55
2    20.225             59.86  ...  2016-11-24  13:37:25
3    19.332             91.81  ...  2016-11-24  13:37:57
4    22.494             92.05  ...  2016-11-24  13:38:27

[5 rows x 6 columns]

In [43]:
df_compact.drop(['Datetime'],axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [44]:
#cek tipe kelas pada kolom date sama time

print(df_compact['Date'][0], type(df_compact['Date'][0]))
print(df_compact['Time'][0], type(df_compact['Time'][0]))

2016-11-24 <class 'datetime.date'>
13:36:25 <class 'datetime.time'>

In [45]:
#Save ke dataframe baru
df_compact.to_csv('rpi_new_data_compact.csv')

In [46]:
df_newCompact = pd.read_csv('rpi_new_data_compact.csv')
df_newCompact.head()

   Unnamed: 0 Ping (ms)  ...        Date      Time
0           0    26.992  ...  2016-11-24  13:36:25
1           1    24.532  ...  2016-11-24  13:36:55
2           2    20.225  ...  2016-11-24  13:37:25
3           3    19.332  ...  2016-11-24  13:37:57
4           4    22.494  ...  2016-11-24  13:38:27

[5 rows x 6 columns]